body{
    background-color: #000000 ;
}

h1{
    color: #F6F6F6;
}

span{
    color: #22D4FD;
}

p{
    color: #F6F6F6
}

.link{
    text-decoration: none;
    color: #000000;
    background-color: #22D4FD ;
    border-radius: 16px;
    padding: 16px;
    
}

main{
    display: flex;

}

.foto{
    width: 100px;
    height: 120px;
}