@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000 ;
    color: #F6F6F6;
}

.destaque-titulo{
    color: #22D4FD;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:  5% 8%;
}

.foto-menina{
    width: 680px;
    height: 756px;
}

section{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 51px;
}

h1{
    font-size: 36px;
    font-family: "Krona One", serif;
}

p{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.botoes a {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: #000000;
    text-decoration: none;
    width: 378px;
    border-radius: 8px;
    text-align: center;
    color: #F6F6F6;
    font-family: "Montserrat", serif;
    padding: 21.5px 0px;
    border: 2px solid #22D4FD;
    font-size: 24px;
}

.botoes a:hover{
    background-color: #272727;
    scale: 1.1;
    transition: .2s;
}

h2{
    font-family: "Krona One", serif;
}

.rodape{
    background-color: #22D4FD ;
    color: #000000;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 24px;
}

.cabecalho-menu-link{
    font-size: 18px;
    color:#F6F6F6;
    text-decoration: none;
    font-family: "Montserrat", serif;
}

.cabecalho-menu-link:hover {
    color: #007bff;
    transform: .3s;
    scale: 1.1;
}

.cabecalho-menu {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.cabecalho{
    background-color:#000000;
    padding: 24px;
}